@media screen and (max-width: 375px) {
  .container {
    display: flex;
    padding-top: 40px;
    justify-content: space-between;
    align-items: center;
    max-width: 32rem;
  }
}

.container {
  padding: 4rem 0 0 0;
  align-items: center;

  .navHeader a {
    position: relative;
    font-size: 1.8rem;
    text-decoration: none;
    color: #111827;
    padding: .4rem;
  } 
  .navHeader a:hover {
    color: #F59E0B;
  }
}


.navHeader a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #f59e0b;
  transform: scaleX(0);
  transform-origin: bottom;
  transition: transform 0.2s ease-in-out;
}
.navHeader a:hover::after {
  transform: scaleX(1);
}

.navHeader ul {
  display: flex;
  gap: 3.2rem;
} 
#menu-mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .container {
    width: 100vw;
  }
  #menu-mobile {
    display: block;
  }
  .navHeader {
    display: none;
  }
}