.techCard {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  justify-content: center;
  align-items: center
}
.techCard p {
  font-weight: 500;
  font-size: 2.4rem;
  color: #111827;
  line-height: 15.563px;
}

.techCard img {
  width: 116.25px;
  height: 116.25px;
}

@media screen and (max-width: 375px) {
  .techCard{
    max-width: 84px;
    gap: 0.8rem;
  }
  .techCard p {
    font-size: 1.6rem;
    width: 100%;
    text-align: center;
  }
  .techCard img {
    width: 84px;
  }
}