@import 'normalize.css';

.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  row-gap: 8.8rem;
}
.app-container {
  overflow-y: scroll;
}

.element-enter {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.element-enter-active {
  opacity: 1;
  transform: translateY(0);
}